@{
    ViewData["Title"] = "Home Page";
}

<section style="background: url(https://dreamslms-wp.dreamstechnologies.com/wp-content/themes/dreamslms/assets/images/banner.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-98d2585 elementor-widget elementor-widget-dreamslms-tutor-search"
                         data-id="98d2585" data-element_type="widget"
                         data-widget_type="dreamslms-tutor-search.default">
                        <div class="elementor-widget-container">


                            <div class="home-slide-face aos aos-init aos-animate" data-aos="fade-up">
                                <div class="home-slide-text ">
                                    <h5>The Leader in Online Learning</h5>
                                    <h1>Engaging &amp; Accessible Online Courses For All</h1>
                                    <p></p>
                                </div>

                                <div class="dreamslms-courses-searching banner-content">

                                    <form class="tutor-course-form-wrapper" method="get"
                                          action="https://dreamslms-wp.dreamstechnologies.com/courses/">
                                        <div class="form-inner">
                                            <div class="input-group">
                                                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                                                <input type="text" value="" name="s"
                                                       placeholder="Search School, Online eductional centers, etc"
                                                       class="tutor-course-input form-control" autocomplete="off">
                                                <input type="hidden" value="course" name="ref">
                                                <button class="tutor-course-btn btn btn-primary sub-btn"
                                                        type="submit">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                                <span class="widget-search-close"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <div class="trust-user">
                                    <p>Trusted by over 15K Users <br> worldwide since 2022</p>
                                    <div class="trust-rating d-flex align-items-center">
                                        <div class="rate-head">
                                            <h2><span>290</span>+</h2>
                                        </div>
                                        <div class="rating d-flex align-items-center">
                                            <h2 class="d-inline-block average-rating">4.5</h2>


                                            <i class="fas fa-star filled"></i><i class="fas fa-star filled"></i><i class="fas fa-star filled"></i><i class="fas fa-star filled"></i><i class="fas fa-star filled"></i>


                                        </div>



                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img fetchpriority="high" decoding="async" width="630" height="653"
                     src="https://dreamslms-wp.dreamstechnologies.com/wp-content/uploads/2023/01/object.png"
                     class="attachment-full size-full wp-image-92" alt=""
                     srcset="https://dreamslms-wp.dreamstechnologies.com/wp-content/uploads/2023/01/object.png 630w, https://dreamslms-wp.dreamstechnologies.com/wp-content/uploads/2023/01/object-600x622.png 600w"
                     sizes="(max-width: 630px) 100vw, 630px">
            </div>
        </div>
    </div>

</section>

